---
import PageLayout from '../layouts/PageLayout.astro';
import '../custom-pico.css'

import { contentfulClient } from '../lib/contentful';
import type {EntryFieldTypes} from 'contentful';

interface ConferenceType{
	contentTypeId: "conference",
	fields: {
		name: EntryFieldTypes.Text,
    summary: EntryFieldTypes.Text,
    datetime: EntryFieldTypes.Date,
    venue: EntryFieldTypes.Location, 
    applyhere: EntryFieldTypes.RichText, 
    tickets: EntryFieldTypes.RichText, 
    schedule: EntryFieldTypes.RichText, 
    faq: EntryFieldTypes.RichText, 
    sponsors: EntryFieldTypes.RichText, 
	}
}

const allConferences = await contentfulClient.getEntries<ConferenceType>({
	content_type: 'conference',
});
console.log(allConferences.items);
---

<PageLayout title="Conference Details">
	<main>
		<h1>Conference Details</h1>
		{allConferences.items.map((item)=> (
			<section>
				<h1>{item.fields.name}</h1>
				<p>{item.fields.summary}</p>
				<p>{item.fields.datetime}</p>
				<p>{item.fields.venue}</p>
				<p>{item.fields.applyhere}</p>
				<p>{item.fields.tickets}</p>
				<p>{item.fields.schedule}</p>
				<p>{item.fields.faq}</p>
				<p>{item.fields.sponsors}</p>
			</section>
		))}
	</main>

</PageLayout>

