---
import { createClient } from "contentful";
import type { Entry } from "contentful";
import PageLayout from "../layouts/PageLayout.astro";
import Dropdown from "../components/Dropdown.astro";
import TextBox from "../components/TextBox.astro";
import Subheading from "../components/Subheading.astro";
import List from "../components/List.astro";

const client = createClient({
  space: import.meta.env.CONTENTFUL_SPACE_ID,
  accessToken: import.meta.env.CONTENTFUL_ACCESS_TOKEN,
});

interface SponsorFields {
  fields: {
    name: string;
    logo: {
      fields: {
        file: {
          url: string;
        };
      };
    };
    sponsorshipLevel: string;
    current: boolean; 
  };
  contentTypeId: "sponsor";
}
type Sponsor = Entry<SponsorFields>;

async function fetchSponsors(): Promise<Sponsor[]> {
  const response = await client.getEntries({
    content_type: "sponsor",
  });
  return response.items as Sponsor[];
}

async function getCurrentAndPastSponsors() {
  const sponsors = await fetchSponsors();

  const sortedSponsors = sponsors.sort((a, b) => {
    const levels = ["gold", "silver", "partners", "supporters"];
    return levels.indexOf(a.fields.sponsorshipLevel.toLowerCase()) - levels.indexOf(b.fields.sponsorshipLevel.toLowerCase());
  });

  const currentSponsors = sortedSponsors.filter((sponsor) => sponsor.fields.current === true);
  const pastSponsors = sortedSponsors.filter((sponsor) => sponsor.fields.current === false);

  return { currentSponsors, pastSponsors };
}

const { currentSponsors, pastSponsors } = await getCurrentAndPastSponsors();

const url = new URL(Astro.request.url);
const sponsorType = url.searchParams.get("sponsorType") || "current";
---
<PageLayout title="Sponsors">
  <div>
    <Subheading title="Sponsors" />
  </div>

  <TextBox 
    heading="Our Generous Sponsors" 
    text="We are incredibly grateful for the support of our sponsors who believe in Technolgap's mission. Their contributions help us drive positive change in the tech industry." 
    className="topTextbox"
  />

  <form action={Astro.request.url} method="GET">
    <Dropdown
      name="sponsorType"
      options={["current", "past"]}
      selected={sponsorType.charAt(0).toUpperCase() + sponsorType.slice(1)}
    />
  </form>

  <div class="sponsors-grid">
    {sponsorType === "current" ? (
      <>
        {currentSponsors.map((sponsor) => (
          <div class={`sponsor-card ${sponsor.fields.sponsorshipLevel.toLowerCase()}-sponsor`} key={sponsor.sys.id}>
            <img src={sponsor.fields.logo.fields.file.url} alt={sponsor.fields.name} />
            {/* <h3>{sponsor.fields.name}</h3>
            <p>{sponsor.fields.sponsorshipLevel}</p> */}
          </div>
        ))}
      </>
    ) : (
      <>
        {pastSponsors.map((sponsor) => (
          <div class={`sponsor-card ${sponsor.fields.sponsorshipLevel.toLowerCase()}-sponsor`} key={sponsor.sys.id}>
            <img src={sponsor.fields.logo.fields.file.url} alt={sponsor.fields.name} />
            {/* <h3>{sponsor.fields.name}</h3>
            <p>{sponsor.fields.sponsorshipLevel}</p> */}
          </div>
        ))}
      </>
    )}
  </div>
 
  <List titleBeforePink="Why" pinkText="Sponsor" titleAfterPink="Us?" items={["Access to a Talented Network", "Promote Diversity and Inclusion", "Positive Brand Association"]}/>

  <div style="height: 50px;"></div>
</PageLayout>

<script>
  document.querySelector("main")?.classList.add("classic-bg");
</script>

<style>
  div {
    padding-top: 1px;
  }

  form {
    right: 40vw;
    padding-top: 50px;
    margin-top: -100px;
    margin-bottom: 100px;
  }

  .sponsor-card {
    background: none; 
    border: none;
    box-shadow: none; 
    padding: 0; 
    margin: 10px;
    text-align: center; 
  }

  .sponsor-card img {
    display: block; 
    margin: 0 auto;
    width: auto; 
    height: auto; 
    background: none; 
    border: none; 
  }

  .gold-sponsor img {
    max-width: 300px;
  }

  .silver-sponsor img {
    max-width: 160px;
  }

  .partners-sponsor img {
    max-width: 130px;
  }

  .supporters-sponsor img {
    max-width: 110px;
  }

  

  .sponsor-card h3 {
    color: #2d6d68; 
    font-size: 1.2em; 
    margin: 10px 0; 
  }

  .sponsor-card p {
    color: #2d6d68;
    font-size: 1em; 
    margin: 5px 0;
  }

  :global(.bottomTextbox .heading) {
    width: 400px;
    height: 130px;
  }

  :global(.topTextbox .heading) {
    height: 130px;
  }

  .pink-span {
    color: #ffbce5;
  }

  
</style>